<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerType" value="1" />
    <add key="Server" value="(LOCAL)\SQLEXPRESS" />
    <add key="User" value="" />
    <add key="Password" value="" />
    <add key="Database" value="QuanLyDoanVien.mdb" />
    <add key="ConnectionMode" value="0" />

    <add key="RememberLogin" value="True" />
    <add key="UserName" value="" />
    <add key="UserPassword" value="" />

    <add key="Skin" value="Office 2010 Blue" />
  </appSettings>
</configuration>